.todo-list
  .todo-head
    .icon-left
      %span.glyphicon.glyphicon-calendar
    .todo-list-name
      %p{"ng-hide" => "project.edit"} {{ project.name }}
      %form{"ng-show" => "project.edit"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input#name.form-edit{:name => "name", :type => "text", "ng-model" => "project.nameFeature"}
    .icon-right{"ng-show" => "project.edit"}
      %a.glyphicon.glyphicon-ok{"ng-click" => "updateProject(project)"}
      .horisont
        |
      %a.glyphicon.glyphicon-remove{"ng-click" => "editProject(project)"}
    .icon-right{"ng-hide" => "project.edit"}
      %a.glyphicon.glyphicon-edit{"ng-click" => "editProject(project)"}
      .horisont
        |
      %a.glyphicon.glyphicon-trash{"ng-click" => "deleteProject(project)"}

