.projects{"ng-repeat" => "project in projects", "ng-include" => '"layouts/project.html"'}

.todo-list
  .button_to
    %div
      %button.add-todo-list{:type => "submit", "ng-click" => "addProject()"}
        %span.glyphicon.glyphicon-plus
        %p Add TODO List