%form{"ng-controller" => "registrationsCtrl", :role => "form"}
  .form-group
    %input{:name => "email", :type => "email", placeholder: "email"}
  .form-group
    %input{:name => "password", :type => "password", placeholer: "password"}
  %button{:type => "submit"} Register