// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('http://ipic.su/img/img7/fs/bg.1428915128.png');
}

p {
  margin: 0 !important;
}

.container {
  width: 647px !important;
}

.content-header {
  margin: 50px auto;
  width: 305px;
  text-align: center;
}

.add-button {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;

  float: left;

  padding: 5px 19px 6px;

  cursor: pointer;

  color: #fff;
  border: 1px solid #447557;
  border-radius: 0 5px 5px 0;
  background: #70a789;
  background: -webkit-gradient(linear, left top, left bottom, from(#94cbae), to(#508767));
  background: -webkit-linear-gradient(top, #94cbae, #508767);
  background: -moz-linear-gradient(top, #94cbae, #508767);
  background: -ms-linear-gradient(top, #94cbae, #508767);
  background: -o-linear-gradient(top, #94cbae, #508767);
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.add-button:hover {
  opacity: .87;
}

.add-button:active {
  background: #609779;
}

.add-todo-list {
  font-size: 17px;
  font-weight: 400;

  display: block;

  width: 180px;
  margin: 0 auto 40px;
  padding: 8px 0 8px 0px;

  cursor: pointer;

  color: #fff;
  border: 1px solid #315589;
  border-radius: 3px;
  background: #426eae;
  background: -webkit-gradient(linear, left top, left bottom, from(#5587bf), to(#3863a0));
  background: -webkit-linear-gradient(top, #5587bf, #3863a0);
  background:    -moz-linear-gradient(top, #5587bf, #3863a0);
  background:     -ms-linear-gradient(top, #5587bf, #3863a0);
  background:      -o-linear-gradient(top, #5587bf, #3863a0);
  box-shadow: 0 1px 0 #91aed5 inset;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.add-todo-list:active {
  background: #3863a0;
  box-shadow: 0 1px 0 rgba(0,0,0,.2) inset, 0 -1px 0 #426eae inset;
}

.add-todo-list span {
  color: #31496c;
  float: left;
  font-size: 19px;
  margin-left: 14px;
  margin-right: 8px;
  margin-top: 0;
}

.add-todo-list p {
  float: left;
}