.sign-up-form {
  margin: 0px auto;
  width: 349px;
}

.sign-up-head {
  width: 349px;
}


.sign-up-submit {
  border-radius: 5px !important;
  margin-top: -5px;
}

.sign-up-body {
  height: 142px;
  width: 349px;
}

.sign-with-fb {
  margin-left: 15px;
  width: 20px;
}

.sign-errors {
  width: 349px;
  margin: 0 auto;
}