.todo-head {
  width: 617px;
  position: relative;

  overflow: hidden;

  padding: 9px 15px;

  border: 1px solid #315589;
  background: #426eae;
  background: -webkit-gradient(linear, left top, left bottom, from(#5587bf), to(#3863a0));
  background: -webkit-linear-gradient(top, #5587bf, #3863a0);
  background:    -moz-linear-gradient(top, #5587bf, #3863a0);
  background:     -ms-linear-gradient(top, #5587bf, #3863a0);
  background:      -o-linear-gradient(top, #5587bf, #3863a0);
  box-shadow: 0 1px 0 #91aed5 inset;
}

.todo-list-name {
  font-size: 16px;
  color: #ffffff;
  margin-left: 11px;
  float: left;
}

.todo-list-name p {
  margin: 0px;
  margin: 0px auto;
}

.todo-form {
  height: 47px;
  padding: 6px 13px 7px 13px;

  border: 1px solid rgba(0,0,0,.35);
  border-top: 0 none;
  border-bottom-color: #aaa;
  background: #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ccc));
  background: -webkit-linear-gradient(top, #e1e1e1, #ccc);
  background:    -moz-linear-gradient(top, #e1e1e1, #ccc);
  background:     -ms-linear-gradient(top, #e1e1e1, #ccc);
  background:      -o-linear-gradient(top, #e1e1e1, #ccc);
}

.todo-list {
  margin-bottom: 40px;
  width: 617px;
}

.todo-list-sign {
  display: inline;
  float: right;
  overflow: auto;
}

.todo-list-sign p {
  color: #ffffff;
  float: left;
  padding-right: 5px;
}

.todo-list-sign a {
  margin-right: 5px;
}







.icon-left {
  float: left;
  font-size: 18px;
  max-width: 29px;
}

.icon-right {
  color: #90a8ca;
  cursor: pointer;
  float: right;
  margin-top: 1px;
}

.icon-right a {
  color: #90a8ca;
  text-decoration: none !important;
}

.icon-right div {
  display: inline;
}

.icon-right a:hover {
  color: #fff;
  -webkit-transition:       all 0.3s ease 0s;
  -moz-transition:         all 0.3s ease 0s;
  -o-transition:         all 0.3s ease 0s;
  transition:         all 0.3s ease 0s;
}

.horisont {
  font-size: 16px;
}